@import '../../../helpers/variables';

.track {
  display: grid;
  grid-template-columns: auto auto auto 1fr 1fr auto;
  align-items: center;
  font-size: 14px;

  &__art {
    width: 42px;
    height: 42px;
  }

  &__number {
    margin-left: 10px;
    width: 20px;
  }

  &__added {
    margin: 0 30px 0 20px;
  }

  &__name {
    color: $white;
  }

  &__explicit {
    padding: 2px 5px;
    width: fit-content;
    justify-self: end;
    text-align: end;

    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;

    color: #424242;
    border: 1px solid $light-black;
    
  }

  &__listens {
    width: 200px;
    padding-right: 10px;
    text-align: end;
    font-size: 14px;
  }
}