@import '../../helpers/variables';

.volume {

  &__base {
    height: 4px;
    width: 100%;
    align-self: center;

    &:hover {
      .volume__thumb {
        opacity: 1;
      }
    }
  }


  &__thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(170, 170, 170);
    justify-content: center;
    align-items: center;
    outline: none;
    transition: opacity 300ms;
    opacity: 0;
  }
}

