@import "../../../helpers/variables";

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  font-size: 11px;
  text-transform: uppercase;

  &__lyrics,
  &__control {
    color: $grey;
    text-decoration: none;
    transition: color 300ms;
    cursor: pointer;

    &:hover {
      color: $white;
    }
  }

  &__lyrics {
    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }
}