@import '../../../../../helpers/variables';

.song {
  padding: 10px 0;
  display: grid;
  grid-template-columns: auto auto 1fr 1fr auto auto;
  align-items: center;
  font-size: 14px;

  &__number {
    margin-left: 10px;
    width: 20px;
  }

  &__added {
    margin: 0 30px 0 20px;
    color: $grey;
    border: none;
    outline: none;

    background-color: inherit;
  }

  &__name {
    color: $white;
  }

  &__explicit {
    padding: 2px 5px;
    width: fit-content;
    justify-self: end;
    text-align: end;

    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;

    color: #424242;
    border: 1px solid $light-black;
  }

  &__duration {
    margin-left: 65px;
  }

  &__popularity {
    margin-left: 40px;
    padding-right: 10px;
  }
}